@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Find the textbook you need!</h1>
    <h2>This message is coming from the Views/Home/Index view</h2>
    <p> Find the project at <a href="https://github.com/GustavoCCarrillo/Textbook-Finder.git">Gustavo's Github account</a>.</p>
</div>
